body{
 background-image:url("/background3.jpg");
 background-repeat: no-repeat;

height: 100vh;
overflow: hidden;
 background-size: cover;
 background-position: cover; 

 

}
input{
  width: 300px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
  font-size: 20px;
  background: none;
  color: white;
  margin-top: 25px;
  

}
.input{
display: flex;
justify-content: center;
}
.location{
  font-size: 30px;
  color: white;
}
.temp{
 
  font-size: 50px;
  color: white;
  font-weight: bold;
}

.condition{
  color: white;
  writing-mode: vertical-rl; 
    transform: rotate(180deg);
    font-size: 20px;
    margin-bottom: 30px ;
    

}

.bottom-box{
display: flex;
justify-content: space-around;
width: 100%;
font-size: 30px;
margin-top: 500px;
color: white;
font-weight: bold;
border-radius: 10px;
background-color: rgb(122, 107, 107);

opacity: 0.7;

}
.bottom-box2{
  display: flex;
  justify-content: space-around;

  font-size: 30px;
  margin-top: 270px;
  color: white;
  text-align: center;
  background-color: rgb(122, 107, 107);
  border-radius: 10px;
opacity: 0.7;

  
  
  }

.upper-box{
  display: flex;
justify-content: space-around;


}
.container{
  display: flex;
  flex-direction: column;
}



